:root {
    --vino: rgba(84,3,50,96);
    --wood: rgba(98,47,34,80);
    --meat: rgba(255,191,191,100);
    --bronze: rgba(199,142,66,76);
    --cocao: rgba(157,102,102,100);
    --grey: grey;
    --dark: rgb(6, 5, 5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 13px;
    
}

.title,
.subtitle {
    text-align: center;
    color: var(--vino);
    text-align: top;
    font-size: 30px;
    font-style: italic;
    width:100%;
    margin: 3%;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--vino);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/* Header */
header {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    margin: 2%;
    margin-top: 3%;
    background-color: var(--meat);
}

/* navbar */
.navbar {
    background-color: var(--indigo);
}

.hero-body {
    background-color: var(--bronze);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10%;
    margin-top: 20px;
}

/* Containers */


.container {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    width: 100%;
}

.notification.is-primary{
    background-color: var(--bronze);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.notification.is-primary:hover{
    background-color: var(--wood);
}
.tile .is-vertical .is-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    width: 100%;
    background-color: var(--cocao);
}
.tile .is-ancestor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    width: 100%;
}
.tile {
    background-color: var(--meat);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:6px;
    
    
}
.day {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: top;
    border-radius: 20;
    margin: 10%;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: var(--bronze);

}

/* Modal Content/Box */
.modal-content {
    background-color: var(--vino);
    margin: 15% auto;
    padding: 8px;
    border: 1px solid #888;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:80%;
}

#forms {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    margin-bottom: 7px;
}
form {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.activity-radio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.activity-radio label:first-child {
    margin-left: 8px;
}
  
  /* The Close Button */
  .close {
    color: var(--bronze);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* search btn */
.button{
    display: inline-block;
    box-sizing: border-box;
    padding:10px;
    border:1px;
    margin:20px ;
    align-items: center;
    text-align: center;
    padding: 10px ;
   
}
.btn-p {
  
  
    width: fit-content;
  
    margin-bottom:20px ;
}


.is-size-3 {
    font-size: medium;
}
/* modal styles */
.forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8%;
}
form {
    margin:5%;
    background-color: var(--wood);
}
.control .activity-radio{
   width:80%;
   margin:80% ;
   padding: 7%;
}
.label {
    color:var(--grey);
}
.is-size-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
}
.field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    color: var(--grey);
    margin:5%;
   
}
.brew{
    color: var(--meat);
    text-align: center;
    background-color: rgb(132, 115, 115);
    border: solid 1px;
    border-color: var(--vino);
    margin: 5%;
    margin-bottom: 5%;
}
.brew:hover{
    color: var(--indigo);
    background-color: var(--cocao);
}
.button {
    margin-bottom: 7%;
}
.columns .is-mobile .is-centered {
    margin-bottom: 8%;
}
#search {
    
}

/* screen sizes */

@media screen and (max-width:1400x) {
    .calendar {
        margin-left: 4%;
    }
}

@media screen and (max-width:1020px) {
.container {
    margin: 6px;
}
}





@media screen and (max-width:710px) {

    .container {
        margin: 3px;
    }

    #search {
        font-size: 4vw!important;
        line-height: 2px;
    }

    
    .activity-radio {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
    }

    #forms {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 25% 25%;
        margin: 5%;
    }
    .field {
        margin: 2%;
        margin-bottom: 5%;
    }
   .input{
    margin-bottom: 3%;
    width: 100%;
    text-align: center;
   }
        
    }
    .label {
        margin-bottom: 3%;
        width: 100%;
        text-align: center;
    }
}