:root {
    --vino: rgba(84,3,50,96);
    --wood: rgba(98,47,34,80);
    --meat: rgba(255,191,191,100);
    --bronze: rgba(199,142,66,76);
    --cocao: rgba(157,102,102,100);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 13px;
}

.title,
.subtitle {
    color: var(--vino);
    text-align: left;
    font-size: 30px;
    
}




body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--vino);

}
.body-wrap {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin:10%;
}
/* Header */
header {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 11%;
    margin-top: 3%;
    background-color: var(--meat);
}
.hero-body {
    background-color: var(--bronze);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30%;
    margin-top: 20px;
}

/* Containers */

.notification.is-primary{
    background-color: var(--bronze);
}
.container {
  
    
}
.tile {
    background-color: var(--meat);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:2px;
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--vino);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 65%; 
}

#forms {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    margin-bottom: 25px;
}

.activity-radio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.activity-radio label:first-child {
    margin-left: 8px;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width:724px) {
    #search {
        font-size: 20px!important;
    }
    .activity-radio {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
    }

    #forms {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 25% 25%;
    }
    #forms>* {
        margin-bottom: 25px;
    }
}